<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<title>我的留言--记录筚路蓝缕创业生活的个人博客网站！</title>
		<meta name="keywords" content="关键词" />
		<meta name="description" content="描述" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="DOMAIN__PUBLIC__/static/index/pintuer.css">
		<link rel="stylesheet" href="DOMAIN__PUBLIC__/static/index/bilulanlv.css">
		<script src="DOMAIN__PUBLIC__/static/index/jquery.js"></script>
		<script src="DOMAIN__PUBLIC__/static/layer/layer.js"></script>
		<script src="DOMAIN__PUBLIC__/static/index/pintuer.js"></script>
		<style>
			.x11{
				font-family: "微软雅黑";
				font-size: 14px;
				line-height: 15pt;
			}
			.smalltime{
				font-family:arial;
				font-size: 12px;
				color: #A7B1C2;
			}
			.smallname{
				color: #A7B1C2;
				font-size: 12px;
			}
			.smallname a:link{
				color:#A7B1C2;
			}
			.smallname a:hover{
				color:#A7B1C2;
			}
			.smallname a:active{
				color:#A7B1C2;
			}
			.smallname a:visited{
				color:#A7B1C2;
			}
			
		</style>
	</head>

	<body>
		<div class="layout">

			<div class="line margin-big">

				<div class="xs2">

				</div>
				{include file="left/index"/}
				<div class="xs5">

							<div class="margin-large-top ">
		<div class="alert box-shadow-small radius-small border-main">
			<div class="rightboxtitle"><h3>当前共有 {$count} 条留言</h3></div>
			<div class="border-Silver border-bottom border-dotted"></div><!--分隔虚线-->
			<span class="">&nbsp;</span>
		
				<div class="container fontmain" style="width:100%;">
					{volist name="list" id="vo" key="k"}
					<br />
					{if condition="$k % 2 != 0"}
					<div class="line">
						<div class="x1">
							<div>
								<a href="{$vo.url}" title="{$vo.name}" target=”_blank>{if condition="$vo.email == '' "}<img src="__PUBLIC__/static/index/image/{$vo.image}.png" class="imagewidth img-responsive radius-circle" style="margin-left:-10px ;">{else /}<img src="https://s.gravatar.com/avatar/{$vo.email|md5}" class="imagewidth img-responsive radius-circle" style="margin-left:-10px ;">{/if}</a>
							</div>
						</div>
						
						<div class="x11">
							<div class="popo">
								<div class="popo-left">
									<div style="margin-bottom:-8px;">
									<span class="smallname"><a href="{$vo.url}" title="{$vo.name}" target=”_blank>{$vo.name ? $vo.name : '无名大虾'}</a> ▪ </span><span class="smalltime">{$vo.add_time|date='Y-m-d',###} </span><span class="smallname" style="display: none;"><a href="#recomment" id="{$vo.id}" lang="{$vo.name}" onclick="recomment(this.id,this.lang)">回复</a></span>
									</div>
									<div class="popo-body radius"><span class="icon-caret-right"></span> {$vo.content}
									{if condition = "$vo.re_content !=''"}
										<div class="border-gray-light border-top border-dashed margin-small-top margin-small-bottom"></div>
										<span class="icon-child" style="margin-left: 20px;"> {$vo.re_content}</span>
									{else /}
									{/if}
									</div>
									
								</div>
							</div>
						</div>
					</div>
					{elseif condition="$k % 2 == 0" /}
					<div class="line marggin-small">
						<div class="x11">
							<div class="popo">
								<div class="popo-right">
									<div style="margin-bottom:-8px;text-align: right;">
									<span class="smallname" style="display: none;"><a href="#recomment" id="{$vo.id}" lang="{$vo.name}" onclick="recomment(this.id,this.lang)">回复</a></span> <span class="smalltime">{$vo.add_time|date='Y-m-d',###} ▪ </span><span class="smallname"><a href="{$vo.url}" title="{$vo.name}" target=”_blank>{$vo.name ? $vo.name : '无名大虾'}</a></span>
									</div>
									<div class="popo-body radius"><span class="icon-caret-right"></span> {$vo.content}

									{if condition = "$vo.re_content !=''"}
										<div class="border-gray-light border-top border-dashed margin-small-top margin-small-bottom"></div>
										<span class="icon-child" style="margin-left: 20px;"> {$vo.re_content}</span>
									{else /}
									{/if}
									</div>
								</div>
							</div>
						</div>
						<div class="x1">
							<div>
								<a href="{$vo.url}" title="{$vo.name}" target=”_blank>{if condition="$vo.email == '' "}<img src="__PUBLIC__/static/index/image/{$vo.image}.png" class="imagewidth img-responsive radius-circle" style="margin-left:10px ;">{else /}<img src="https://s.gravatar.com/avatar/{$vo.email|md5}?s=50" class="imagewidth img-responsive radius-circle" style="margin-left: 10px;">{/if}</a>
							</div>
						</div>
					</div>
					{/if}
					{/volist}
				</div>
						<div align="center" class="margin-big-top">
							{$list->render()}
						</div>
						</div>
						
						</div>
					<form name="formdata" method="post" class="" onSubmit="return checkpost();">
						<div class="margin-large-top ">
							<div class="alert box-shadow-small radius-small border-main">
								<div class="rightboxtitle text-gray">
									<h5 title="reid">给我留言</h5></div>
									<a name="recomment" id="recomment"></a>
					
						<?php $image=rand(1,8)?>
							<div class="form-group">
								<div class="field">
									<div class="input-group">
										<span class="addon icon-user"></span>
										<input type="text" class="input input-auto text-gray" value="{$Think.cookie.bilulanlv_name}" name="name" size="25" placeholder="用户名" style="width:40%;" />
										<input type="hidden" name="image" value="<?php echo $image ?>" />
										<!-- <input type="hidden" name="parent" value="0" /> -->
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="field">
									<div class="input-group">
										<span class="addon icon-link"></span>
										<input type="text" class="input input-auto text-gray" value="{$Think.cookie.bilulanlv_url}" name="url" size="25" placeholder="http://" style="width:40%;" />
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="field">
									<div class="input-group">
										<span class="addon icon-envelope-o"></span>
										<input type="text" class="input input-auto text-gray" value="{$Think.cookie.bilulanlv_email}" name="email" size="25" placeholder="E-mail" style="width:40%;" />
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="field">
									<div class="input-group">
										<textarea rows="3" cols="60" class="input input-auto" name="content" placeholder="留言内容/必填"></textarea>
									</div>
								</div>
							</div>
						
						<div class="diarysend">
							<button id="fbpl" class="button button-small bg-gray" type="button" onclick="checkpost()">发布评论</button>
						</div>
						

					</div>
					</div>
					</form>
					<div class="xs2">

					</div>

				</div>

			</div>
		</div>
		<script language="JavaScript">
			function recomment(id,lang){
				$('h5[title=reid]').html('回复 '+lang+' 的留言');
				$('input[name=parent]').attr('value',id)
			}
		
			function checkpost() {
				if (formdata.content.value == "") {
					layer.msg("回复留言内容不能为空！",{time:1500});
					formdata.content.focus();
					return false;
				}
				//AJAX提交
				$.ajax({
					type:"post",
					url:'{:url('./index/message/add','','',true)}',
					data:$('form[name=formdata]').serialize(),
					datatype:'json',
					beforeSend:function(){
						$('button[id=fbpl]').attr('disabled',true);
					},
					success:function(data){
						if(data.code==0){
							layer.msg(data.msg);
							$('button[id=fbpl]').attr('disabled',false);
						}else if(data.code==1){
							layer.msg(data.msg,{time:1500},function(){
								history.go(0);
							});
						}
					}
					
				});
			  }
		</script>
	</body>

</html>